<app-navbar></app-navbar>
<mat-card class="profile-card">
  <mat-card-header>
    <h2>Hello, {{ username }}</h2>
  </mat-card-header>
  <mat-card-title>You can update your info here:</mat-card-title><br>
  <mat-card-content>
  <form (ngSubmit)="updateUserProfile()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput [(ngModel)]="userData.Username" name="username">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="userData.Password" name="password">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="userData.Email" name="email">
    </mat-form-field><br>

    <mat-form-field>
      <mat-label>Birthday</mat-label>
      <input matInput type="date" [(ngModel)]="userData.Birthday" name="birthday">
    </mat-form-field><br>

    <button mat-raised-button color="primary" type="submit">Update Profile</button>
  </form>
</mat-card-content><br>

    <mat-card-title>and you can delete your account here: </mat-card-title><br>
    <button mat-raised-button id="delete-button" (click)="onDeleteUser()">Delete Account</button>
</mat-card>

<h2>What you've liked so far :</h2>

<app-movie-card [movies]="favoriteMovies" [showNavbar]="false"></app-movie-card>

<ng-template [ngIf]="favoriteMovies.length === 0">
  <p>You haven't added any favorite movies yet.</p>
</ng-template>


